/*
$breakpoint-small: 480px; // For widths more than 480px
$breakpoint-medium: 768px; // For width more than 768px
$breakpoint-large: 960px; // For width more than 960px
$breakpoint-xlarge: 1220px; // For width more than 1220px
*/
.du-menu-toggle{
    background-color: #f974bd;
    width: 74px;
    height: 74px;
    line-height: 74px;
    vertical-align: middle;
    font-size: 24px;
    text-align: center;
}
@media (min-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 960px) {

}
@media (max-width: 959px) {
    
    .du-header{
        background: #fff;
    }
    .du-login span{
        display: none;
    }

    .du-menu{
        right: 0;
        width: 242px;
        background: #172b37;
        z-index: 999;
        padding: 20px;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
    }
    .du-overlay{
        right: 100%;
        left: 0;
        background-color: rgba(255, 255, 255, 0.78);
        z-index: 990;
    }
    .du-menu,
    .du-overlay{
        position: fixed;
        top: 74px;
        bottom: 0;
        transition: transform .4s ,right .4s ease-in;
        -webkit-transition: -webkit-transform .4s ,right .4s ease-in ;
        -moz-transition: -moz-transform .4s ,right .4s ease-in;
    }
    .du-menu-open{
       /* overflow: hidden;*/
    }
    .du-menu-open .du-menu-toggle{
        background-color: #172b37;
        color: #fff;
    }
    .du-menu-open .du-menu,
    .du-menu-open .du-overlay{
    }
    .du-menu-open .du-menu{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
    }
    .du-menu-open .du-overlay{
       right: 0;
    }
    .du-menu a{
        line-height: 1.3;
        height: auto;
        padding: 0 0 20px;
    }
    .du-menu a:hover{
        color: #E94E38;
    }
    .du-menu li{
        float: none;
    }

    .du-login{
        margin-right: -20px;
    }
    .du-filter-row .du-filter-location,
    .du-filter-row .du-filter-item,
    .du-filter-row .du-filter-type{
        text-align: center;
        margin-left: 0;
        padding: 10px 0;
    }
    .du-item{
        margin-bottom: 30px;
    }
    .du-items-row .ba-grid .ba-grid{
        margin-top: 0;
    }
}

@media (min-width: 1220px) {
    .du-menu-toggle{
        display: none;
    }
}